extends layout

block content
  h1= title
  br
  h3 Click a player to update their information
    br
    br
  .list-group
    -if (content.length > 0){
    -for (var i = 0 ; i < content.length; i++){
      p.ok
        a.list-group-item.list-group-item-action(href="/players/update/#{content[i]['id']}") #{content[i]["firstName"]} #{content[i]["lastName"]} #{content[i]["age"]} 
        form(method='POST', action="/players/delete/#{content[i]['id']}")
                button(class="btn btn-danger" type='submit') Delete
    -}}
    -else{
      p The list is empty
    -}
    br
    .form-group
      form(method="POST", action="")
        div.input
            span.label First Name
            br
          .form-control
            input(style="border:none", type="text", name="firstName", placeholder="John")
            br
            br
        div.input
            span.label Last Name
            br
          .form-control
            input(style="border:none", type="text", name="lastName", placeholder="Doe")
            br
            br
        div.input
            span.label Age
            br
          .form-control
            input(style="border:none", type="text", name="age", placeholder="27")
            br
            br
            br
        div.actions
            br
            input(class="btn btn-primary", type="submit", value="submit")